@model EmployeeManagement.WebUI.Models.DepartmentModel

@{
    ViewBag.Title = "Admin: Edit " + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>
@using (Html.BeginForm("Edit", "Department"))
{
    <h4>
        Name:
        @Html.TextBoxFor(model => model.Name,
                       new { style = "width: 150px" })
    </h4>
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
