@using EmployeeManagement.WebUI.Models;
@model EmployeeModel

@{
    ViewBag.Title = "Admin: Edit " + Model.FirstName + Model.LastName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.FirstName @Model.LastName</h1>
@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "Index")
}
