@model EmployeeManagement.WebUI.Models.EmployeeListModel

@{
    ViewBag.Title = "List";
}

@foreach (var employee in Model.Employees)
{
    if (employee as EmployeeManagement.WebUI.Models.DeveloperModel != null)
    {
        var developer = employee as EmployeeManagement.WebUI.Models.DeveloperModel;
        Html.RenderPartial("DeveloperSummary", developer);
    }

    if (employee as EmployeeManagement.WebUI.Models.ManagerModel != null)
    {
        var manager = employee as EmployeeManagement.WebUI.Models.ManagerModel;
        Html.RenderPartial("ManagerSummary", manager);
    }

    if (employee as EmployeeManagement.WebUI.Models.ServiceWorkerModel != null)
    {
        var serviceWorker = employee as EmployeeManagement.WebUI.Models.ServiceWorkerModel;
        Html.RenderPartial("ServiceWorkerSummary", serviceWorker);
    }
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>



